main{
    background: #f2be8d;
}

body {
    background: #f2be8d;
}

footer{
    background-color: #394359;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footerInfo{
    text-align: center;
}

