.botonLogin {
    background-color: #ba6c65; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15%;
}

img {
    width: 100%;
}

.botonRegistro {
    background-color: #ba6c65; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15%;
}

.botonLoginBox{
    width: 17.7%;
    box-sizing: border-box;
    float: left;
    margin-left: 26.5%;
    text-align: center; 
}

.botonRegistroBox{
    float: left;
    width: 17.7%;
    box-sizing: border-box;
    margin-left: 10%; 
    text-align: center;
}

.botonesBox{
    margin-top: 12%;
}
 
