.formularioRegistro{
    text-align: center;
    background-color: #ba6c65;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    border-radius: 15%;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .formularioRegistro{
        text-align: center;
        background-color: unset;
        width: 30%;
        border-radius: 15%;
        font-size: 20px;
    }
    
    form input{
        width: 100%;
    }
}